body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.calculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-align: right;
    border: none;
    outline: none;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    background-color: #f9f9f9;
    cursor: pointer;
}

button:hover {
    background-color: #eaeaea;
}

.button-operator {
    background-color: #ff8c00;
    color: #fff;
}

.button-operator:hover {
    background-color: #e88000;
}
